@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
body {
  background-image: url(map.png);
  background-size: 180vw 90vh;
}

@keyframes blurIn {
  0% { filter: blur(4px);
    opacity: 0%;
  }
  50% { filter: blur(4px);
    opacity: 0%;
  }
  100% {
    filter: blur(0);
    opacity: 100%;
  }
}

@keyframes blurOut {
  0% { filter: blur(0);
  opacity: 100%; }
  50% {opacity: 100;}
  100% { filter: blur(4px);
  opacity: 0; }
}

p{
  margin-top: 40%;
  font-size: 100pt;
  text-align: center;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  color: white;
}

button {
  font-size: 60px;
  border-radius: 25px;
  text-decoration: none;
  border: none;
  font-weight: 500;
  font-style: normal;
  font-family: arial;
  width: 300px;
  height: 100px;
  background-color: white;
  color: #151818;
  font-family: 'Montserrat';
  font-style: italic;
}

.blurOut {
  animation: blurOut 0.25s;
  opacity: 0;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  animation: blurIn 0.5s;
  visibility: visible;
  opacity: 100%;
}

.buttons {
  position: absolute;
  bottom: 10%;
}

.chaseButton {
  margin-left: 22px;
}

.runButton {
  margin-right: 22px;
}

.foreground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.island {
  margin-top: 15%;
  background-color: #151818;
  width: 85vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  position: relative;
}

img {
  width: 80%;
  height: auto;
}
