img {

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

@keyframes rotato {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0%;
    top: -100%;
  }
  100% {
    opacity: 100%;
    top: 10%;
  }
}

button {
  font-size: 40px;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  border: none;
  font-family: sans-serif;
  width: 400px;
  height: 100px;
  display: block;
  background-color: #ff7c7f;
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea .debug {
  height: 100px;
  width: 400px;
}

.startButton {
  position: fixed;
  right: 5%;
  margin-left: 200px;
  bottom: 1%;
}

body {

}

.arrow {
  position: fixed;
  opacity: 0%;
  padding-left: 10%;
  top: 10%;
  top: -100%;
}

.arrowFadeIn {
  position: fixed;
  animation: zoomIn 0.25s;
  width: 80%;
  padding-left: 10%;
  top: 10%;
}


.debug {
  position: fixed;
  bottom: 1%;
  left: 5%;
}

.title {
  font-size: 10vw;
  text-align: center;
  margin-top: 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
}
